* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cream: #FFF9EB;
  --sage: #9FB2AC;
  --maroon: #5D0D18;
  --maroon-dark: #3a0810;
}

body {
  background-color: var(--maroon-dark);
  color: var(--cream);
  font-family: 'Segoe UI', sans-serif;
}